Code/*.iml
Code/.gradle
Code/local.properties
Code/.idea/caches
Code/.idea/libraries
Code/.idea/modules.xml
Code/.idea/workspace.xml
Code/.idea/navEditor.xml
Code/.idea/assetWizardSettings.xml
Code/.DS_Store
Code/build
Code/captures
Code/.externalNativeBuild
Code/.cxx
~*
Code/.idea/usage.statistics.xml
Code/.idea/shelf/*
.idea/misc.xml
.idea/workspace.xml
Code/.idea/deploymentTargetSelector.xml

backend server/password.json
