Code/*.iml
Code/.gradle
Code/local.properties
Code/.idea/caches
Code/.idea/libraries
Code/.idea/modules.xml
Code/.idea/workspace.xml
Code/.idea/navEditor.xml
Code/.idea/assetWizardSettings.xml
Code/.DS_Store
Code/build
Code/captures
Code/.externalNativeBuild
Code/.cxx
Code/local.properties
